// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #C9AB7E;
$orange: #E67E22;
$green: #1EDD88;
$gray: #67665D;
$light-gray: #AFAD9F;
$beige: #C9AB7E;
$cream: #F7EBDE;
$brown: #AC887B;
