<div class="section">
  <h2>About ME</h2>
  <p><strong>Alumini of Le Wagon Tokyo batch #394.</strong> <br>I was born in Japan. I studied in Canada when I was in high school and in South Korea during university.
    After I graduated university, I worked for Japan National Tourism Organization and engaged in Tourism Marketing. <br>
    Then I moved to Thailand in 2016 and worked for a recruitment agency taking a role both in sales and career consultant.
    I came back to Japan worked for a Switzerland based company as a recruiting specialist until I joined one of the start-up companies in Tokyo, where
    I worked with web developers and got interested in programming. </p>
</div>
